
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CinemaConnoissuer2021</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>Cinema Connoissuer</h1>
        <h3>Find your next flick...</h3>
        <button type="button"><a href="https://localhost:5001/">Home</a></button>
    </header>
    
    <main>
        @RenderBody()
    </main>


    <footer>
        &copy; 2021 - CinemaConnoissuer
    </footer>

    <script src="~/js/site.js"></script>
</body>
</html>